.settings {
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 620px;
  height: 130px;
  margin-top: 20px;
}

.volume-img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 291px;
  height: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.volume-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.volume_text {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.volume-sub {
  width: 220px;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6.5px;
}

.volume-sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
}

.volume_sub {
  width: 112px;
}

.volume_subb {
  width: 108px;
  height: 4px;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.volume-oval {
  width: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.volume_oval {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 5px solid #FF66E0;
}

.format {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 620px;
  height: 190px;
}

.format-sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
}

.format-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.format_text {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.block-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 345px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_1 {
  width: 164px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #FF2ED4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: #FF2ED4;
  font-weight: bold;
}

.block_2 {
  width: 50px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.block_3 {
  width: 95px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 620px;
  height: 140px;
}

.duration-sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
}

.duration-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.duration_text {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.duration-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.duration_sub {
  width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.duration_subb {
  width: 140px;
  height: 4px;
  background: #FF2ED4;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.duration-oval {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.duration_oval {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 5px solid #FF66E0;
}

.duration-force {
  width: 587px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.duration-force-text {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  opacity: 0.5;
}
/*# sourceMappingURL=settings.css.map */