.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.250628);
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 268px;
  height: 64px;
}

.oval {
  width: 41px;
  height: 41px;
  background-color: #21262D;
  border-radius: 50%;
}

.left-text {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
}

.further {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E32EBE;
  border: 0px;
  width: 173px;
  height: 67px;
}

.further-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.further-text {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.further-img {
  margin-left: 10px;
  display: inline-block;
}

.main {
  margin-bottom: 87px;
  margin-left: 70px;
}

.upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 67px;
}

.sub-upload {
  display: inline-block;
  width: 278px;
  height: 7px;
  background: rgba(0, 0, 0, 0.0992952);
  mix-blend-mode: normal;
  opacity: 0.9;
  border-radius: 6.5px;
}

.sub_upload {
  background: #FF2ED4;
  border-radius: 6.5px;
  width: 107px;
  height: 7px;
}

.upload-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #919191;
  margin-left: 20px;
}

.menu-left {
  width: 622px;
  margin-top: 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 485px;
}

.menu-right {
  width: 622px;
  margin-top: 55px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 275px;
}

.menu-left-text-1 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  border-bottom: 2px solid #FF2ED4;
}

.menu-left-text-2 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
  opacity: 0.5;
}

.import {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 622px;
  height: 758px;
  border-radius: 10px;
  background: url(/image/main/upload/Rectangle.png);
}

.music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 622px;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.music-text {
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  margin-left: 40px;
}

.music_text {
  color: #000000;
  font-size: 16px;
  opacity: 0.5;
  margin-left: 12px;
}

.music_img {
  border-radius: 8px;
}

.genres {
  width: 622px;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.genres-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 110px;
}

.genres-sub-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 580px;
}

.genres-sub_class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 420px;
}

.genres-text {
  color: #FF2ED4;
  border: 1px solid #FF2ED4;
  border-radius: 22px;
  opacity: 0.7;
  padding: 10px 22px;
  font-size: 16px;
  line-height: 19px;
}

.genres_text {
  color: #000000;
  border: 1px solid #000000;
  border-radius: 22px;
  padding: 10px 22px;
  font-size: 16px;
  line-height: 19px;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 620px;
  height: 90px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.player-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: left;
      align-content: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 70px;
}

.player_text {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.player-sub-text {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.player-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
}

.player-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 117px;
  height: 30px;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: transparent;
  opacity: 0.61;
  border: 1.5px solid #00C386;
  border-radius: 15px;
}

.player-button-text {
  color: #32CC9F;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.play {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-sub {
  width: 260px;
  height: 3px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6.5px;
}

.play_sub {
  width: 112px;
}

.play_subb {
  width: 108px;
  height: 3px;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.play-time {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
}

.play-oval {
  width: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.play_oval {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 3px solid #FF66E0;
}

.upload-my {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 620px;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.upload-my-text {
  color: #32CC9F;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.upload_my {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 180px;
}

.upload-music {
  width: 620px;
  height: 405px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upload-music-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.upload-music_img {
  border-radius: 8px;
}

.upload-music-time {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 50px;
  width: 50px;
  color: #000000;
  opacity: 0.5;
}

.upload_music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 74px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.upload_music-text {
  width: 200px;
}

.library-img {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 620px;
  height: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.library-img-check {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
}

.library-bg-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 33px;
  font-size: 16px;
  line-height: 19px;
  background: #5CD4B1;
  border-radius: 0px 0px 4px 4px;
  color: #ffffff;
}

.library-text {
  font-size: 16px;
  display: inline-block;
  margin-top: 9px;
}

.library-time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 40px;
  height: 18px;
  font-size: 12px;
  color: #40957C;
  background: #5CD4B1;
  border-radius: 9px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.library-time_2 {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 40px;
  height: 18px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  background: #FFFFFF;
  border-radius: 9px;
}

.library_sub-img {
  border-radius: 10px;
}

.library_sub-img_1 {
  opacity: 0.4;
}

.library_sub-img_3 {
  border-radius: 5px;
}

.library_sub_img_1 {
  display: block;
  position: relative;
  background: rgba(92, 212, 177, 0.7);
  border-radius: 5px;
}

.library_sub_img_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 140px;
  height: 140px;
  background: url(/image/library/2.png);
}

.library_sub_img_3 {
  position: relative;
}

.library_sub_img_f {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url(/image/filtrs/filtrs.png);
  width: 140px;
  height: 140px;
}

.filtrs-play {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 30px;
  margin: auto;
}

.filtrs-catalog-img {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 620px;
  height: 400px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.settings {
  height: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 620px;
  height: 130px;
  margin-top: 20px;
}

.volume-img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 291px;
  height: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.volume-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.volume_text {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.volume-sub {
  width: 220px;
  height: 4px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 6.5px;
}

.volume-sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
}

.volume_sub {
  width: 112px;
}

.volume_subb {
  width: 108px;
  height: 4px;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.volume-oval {
  width: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.volume_oval {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 5px solid #FF66E0;
}

.format {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 620px;
  height: 190px;
}

.format-sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
}

.format-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.format_text {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.block-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 345px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block_1 {
  width: 164px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #FF2ED4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  color: #FF2ED4;
  font-weight: bold;
}

.block_2 {
  width: 50px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.block_3 {
  width: 95px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 620px;
  height: 140px;
}

.duration-sub-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 80px;
}

.duration-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

.duration_text {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  opacity: 0.5;
}

.duration-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.duration_sub {
  width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.duration_subb {
  width: 140px;
  height: 4px;
  background: #FF2ED4;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.duration-oval {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.duration_oval {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #FFFFFF;
  border: 5px solid #FF66E0;
}

.duration-force {
  width: 587px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.duration-force-text {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  opacity: 0.5;
}

.final {
  background: #23277F;
}

.final-main {
  height: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.final_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.final-oval {
  width: 44px;
  height: 44px;
  background: #FFFFFF;
  border-radius: 50%;
}

.final-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 68px;
  width: 330px;
}

.final-header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 219px;
  height: 30px;
}

.final-header_text {
  color: #FFFFFF;
  font-size: 18px;
}

.final-text {
  color: #FFFFFF;
  font-size: 45px;
}

.final_text {
  height: 193px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.final_text-creation {
  height: 173px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.final-left {
  height: 326px;
  width: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.final-left-creation {
  width: 632px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.final_name {
  font-size: 26px;
  color: #FFFFFF;
  border-right: 1px solid #FFFFFF;
  padding-right: 10px;
}

.final_name_1 {
  font-size: 26px;
  color: #FFFFFF;
}

.final-border {
  width: 564px;
  border: 2px solid #BA2D9D;
}

.final_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background: #BA2D9D;
  border: 0px;
  width: 249px;
  height: 67px;
  border-radius: 33.5px;
}

.final-center {
  height: 326px;
  border: 1px solid #FFFFFF;
}

.final-right {
  width: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 326px;
  width: 660px;
}

.final-right_img {
  width: 78px;
  height: 78px;
  border-radius: 4px;
}

.final-right-text {
  font-size: 20px;
  color: #ffffff;
}

.final_right_1 {
  width: 504px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.final_right_2 {
  width: 410px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.creation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 168px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.creation-loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 76px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creation-border {
  width: 1157px;
  height: 17px;
  border: 2px solid #BA2D9D;
  border-radius: 17.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creation_border {
  width: 653px;
  height: 17px;
  background: #BA2D9D;
  border-radius: 100px 0px 0px 100px;
}

.creation-text {
  font-size: 20px;
  color: #FFFFFF;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 950px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.result-header {
  width: 115px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 480px;
}

.result-player-text {
  font-size: 18px;
  color: #ffffff;
}

.result-player-img {
  border-radius: 10px;
}

.result-center {
  height: 479px;
  border: 1px solid #FFFFFF;
}

.result-img-star_1 {
  opacity: 0.2;
}

.result-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 564px;
}

.result_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description {
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description-text {
  font-size: 30px;
  color: #ffffff;
}

.description-input {
  border-bottom: 1px solid #979797;
  width: 494px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#description_input {
  background: transparent;
  border: 0px;
  font-size: 20px;
  color: #ffffff;
  opacity: 0.5;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95px;
}

.date-text {
  font-size: 30px;
  color: #ffffff;
}

.date_text {
  font-size: 18px;
  color: #ffffff;
}

.availability {
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.availability-text {
  font-size: 30px;
  color: #ffffff;
}

.availability_text {
  width: 291px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Everything {
  width: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Everything-oval {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  opacity: 0.5;
  border: 5px solid #FFFFFF;
}

.Everything-text {
  font-size: 18px;
  color: #ffffff;
}

.my {
  width: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.my-text {
  font-size: 18px;
  color: #ffffff;
}

.my-oval {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #BA2D9D;
}

.save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.save-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 210px;
}

.save_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
}

.save-botton {
  width: 231px;
  height: 67px;
  background: #BA2D9D;
  border-radius: 33.5px;
  border: 0px;
  font-size: 18px;
  color: #ffffff;
}

.save-del {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 18px;
  color: #ffffff;
}

body {
  font-family: Roboto;
}
/*# sourceMappingURL=style.css.map */